/avazu_autoint.csv
/avazu_dfm.csv
/criteo_autoint.csv
/criteo_dfm.csv
/kdd12_autoint.csv
/kdd12_dfm.csv
/kdd12_fnn.csv
/avazu_fnn.csv
/criteo_fnn.csv
/avazu_pnn.csv
/avazu_wdl.csv
/criteo_pnn.csv
/criteo_wdl.csv
/kdd12_pnn.csv
/kdd12_wdl.csv
/kdd12_lr.csv
/avazu_lr.csv
/criteo_lr.csv
/avazu_fm.csv
/criteo_fm.csv
/kdd12_fm.csv
/avazu_model_scores.csv
/criteo_model_scores.csv
/kdd12_model_scores.csv
/layers_2.csv
/layers_3.csv
/layers_4.csv
/layers_5.csv
/layers_6.csv
/neuron_count_100.csv
/neuron_count_200.csv
/neuron_count_300.csv
/neuron_count_400.csv
/neuron_count_500.csv
/neurons_summary.csv
/shape_constant.csv
/shape_decreasing.csv
/shape_diamond.csv
/shape_increasing.csv
