/avazu_autoint.csv
/avazu_dfm.csv
/criteo_autoint.csv
/criteo_dfm.csv
/kdd12_autoint.csv
/kdd12_dfm.csv
/kdd12_fnn.csv
/avazu_fnn.csv
/criteo_fnn.csv
/avazu_pnn.csv
/avazu_wdl.csv
/criteo_pnn.csv
/criteo_wdl.csv
/kdd12_pnn.csv
/kdd12_wdl.csv
/kdd12_lr.csv
/avazu_lr.csv
/criteo_lr.csv
